.App {
  width: 100%;
  display: flex;
  gap: .5rem;
  flex-wrap: wrap;
}

.card-container {
  width: 125px;
  height: 125px;
  background-color: rgb(36, 230, 162);
  color:rgb(252, 18, 18);
  display: block;
}